
#encabezado1{
	font-family: Gabriola;
	font-size: 60px;
	font-style: bold;
	background-color: #9A0004;
	color: White;
	border-top-left-radius: 20px 20px;
	border-top-right-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;
	border-bottom-right-radius: 20px 20px;
}

#encabezado1 h1{
	margin-left: 50px;
}

#encabezado2 h2{
	font-size: 30px;
	margin-top: -130px;
	margin-left: 155px;
}

#bien{
	text-align: right;
}

#titulo{
	font-size: 30px;
	font-family: Gabriola;
	text-align: center;
}

#entrada1{
	font-size: 30px;
	text-align: center;
}

#campo1{
	height: 30px;
	width: 200px;
}

#entrada2{
	font-size: 30px;
	text-align: center;
}

#campo2{
	height: 30px;
	width: 200px;
}

#boton{
	text-align: center;
}

#campo3{
	height: 48px;
	width: 100px;
	font-family: Gabriola;
	font-size: 28px;
	font-style: bold;
}

#imagen{
	margin-left: 520px;
	height: 400px;
	width: 600px;
	margin-top: 50px;

}

#pie{
	background-color: #9A0004;
	height: 100px;
	text-align: center;
	color: white;
	border-top-left-radius: 20px 20px;
	border-top-right-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;
	border-bottom-right-radius: 20px 20px;
}